@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Mouse Memoirs", sans-serif;

  --color-dark-navy: #261676;
  --color-blue: #2463ff;

  --text-SM: 32px;
  --text-MD: 88px;
  --text-LG: 136px;

  --color-linear: linear-gradient(to bottom, #344aba, #001479);

  --leading-default: 120%;
}

.text-stroke {
  -webkit-text-stroke: 8px #243041;
  color: transparent;
}
progress {
  width: 240px;
  height: 31px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 999px;
  background-color: transparent;
}

/* Outer background bar */
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
}

/* The filled part (shows the remaining value) */
progress::-webkit-progress-value {
}
