@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Mouse Memoirs", sans-serif;

  --color-dark-navy: #261676;
  --color-blue: #2463ff;

  --text-SM: 32px;
  --text-MD: 88px;
  --text-LG: 136px;

  --color-linear: linear-gradient(to bottom, #344aba, #001479);

  --leading-default: 120%;
}

.text-stroke {
  -webkit-text-stroke: 8px #243041;
  color: transparent;
}
progress {
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
}

progress::-webkit-progress-value {
  border: 4px solid white;
  border-radius: 999px;
  background-color: #261676;
}

@media (width >= 48rem) {
  progress::-webkit-progress-value {
    border: 8px solid white;
  }
}
