@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Mouse Memoirs", sans-serif;

  --color-dark-navy: #261676;
  --color-blue: #2463ff;

  --text-SM: 32px;
  --text-MD: 88px;
  --text-LG: 136px;

  --color-linear: linear-gradient(to bottom, #344aba, #001479);

  --leading-default: 120%;
}

.text-gradient-stroke {
  background: linear-gradient(to bottom, #67b6ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  -webkit-text-stroke: 2px #243041;
  text-stroke: 2px #243041;
}
@media (width >= 48rem) {
  .text-gradient-stroke {
    -webkit-text-stroke: 4px #243041;
    text-stroke: 4px #243041;
  }
}
@media (width >= 64rem) {
  .text-gradient-stroke {
    -webkit-text-stroke: 8px #243041;
    text-stroke: 8px #1d4986;
  }
}
